{% include '_partial.html' %}
{% load static %}
<body>
    <div class='grid-container grid-container-about'>
        <div class='grid-item grid-portrait'>
            <div class='pic-portrait'></div>
        </div>
        <div class='grid-item grid-about'>                   
            <div class='textarea-about'>
                <p class='text-about'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere lorem ut lectus vestibulum, sodales tincidunt tellus pellentesque. Mauris bibendum scelerisque nibh vitae mattis. Vestibulum tincidunt congue varius. Nunc maximus laoreet nulla, ut dignissim est malesuada in. Phasellus id ornare lectus. Phasellus vulputate volutpat interdum. Donec ac augue sit amet lacus ullamcorper volutpat ut ac arcu. Donec imperdiet sem ac posuere viverra. Nam gravida sapien vel metus facilisis gravida. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin odio eros, rhoncus in commodo vel, tempus in orci. Vivamus non ligula risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at ultricies nisi. Nunc hendrerit nec dolor vel dictum.</p>
                <br/>
                <p class='text-about'>Nullam scelerisque finibus blandit. Nulla vulputate neque non ipsum varius, nec venenatis ante dictum. Integer sollicitudin sapien ut orci ullamcorper auctor. Maecenas erat justo, imperdiet in consequat non, aliquam sed dui. Fusce tempor, diam id venenatis convallis, erat felis tempor lectus, vitae cursus felis sem a erat. Cras scelerisque blandit pretium. Cras id est mauris. Sed id metus a turpis tempor tristique. Mauris eleifend risus quis mi rutrum dictum eget quis sem. Nullam a nibh lobortis, tincidunt massa lobortis, mollis nisl. Mauris malesuada ultricies velit vitae fermentum.</p> 
            </div>
        </div>
        <div class='grid-item grid-connect'>    
                <a href="{% url 'home:testing_space' %}" class='button-c' id="AUd">Back</a>
        </div>
    </div>
</body>
{% include '_partial_footer.html' %}