{% include '_partial.html' %}
{% load static %}
<body>
    <div class='grid-container grid-container-about'>
        <div class='grid-item grid-portrait'>
            <div class='pic-portrait'></div>
        </div>
        <div class='grid-item grid-about'>                   
            <div class='textarea-about'>
                <p class='text-about'>Hey!<br>My name is Phil Henning, I am a web developer, and I’m fueled by medium roast coffee, 2 milk, 2 sugar.</p>
                <p class='text-about'>It’s a 50/50 whether or not I’ve woken up in a good mood or not, but a stack of flapjacks, by virtue of name alone, is usally enough to turn my mood around. Regardless of my disposition to the abreviation ‘am’ however, from morning until night I am productive and passionate about my work, thinking through my actions, and investigating issues, all the while hoping I gain a bit of knowledgable during the pursuit.</p>
                <p class='text-about'>Speaking of work, as amazing as it is, what does it even mean?</p>
                <p class='text-about'>TL;DR<br>I provide front to back web solutions.</p>
                <p class='text-about'>A little more info? Fair enough. Making use of emerging and proven technologies and leveraging powerful langauges and frameworks, I create meaningful, robust, and secure web based solutions.</p>
                <p class='text-about'>Project architecture, backend configuration & ongoing maintentence, and clean, stlyish front end design. I’m creative, have a knack for User Design and love my job!</p>
                <p class='text-about'>What more is there to say? Thanks for stopping by! A link to my resume’s can be found on the homepage.</p>
            </div>
        </div>
        <div class='grid-item grid-connect'>    
                <a href="{% url 'home:index' %}" class='button-c button-back' id="AUd">Back</a>
        </div>
    </div>
</body>
{% include '_partial_footer.html' %}