{% include '_partial.html' %}
{% load static %}
<body>
    <div class='grid-container grid-container-index'>
        <div class="grid-item grid-nameplate">
            <p class="titleplate-font" id="AUd">Phil Henning</p>
        </div>
        <div class="grid-item grid-title">
            <p id='AUd' class='title-font'>Web Developer</p>
            <p id="AUd" class='subtitle-font'>Elegant solutions; simple design</p>
        </div>
        <div class="grid-item grid-contact">
            <p class="connect-title" id="AUd">Connect with me</p>
            <a href="https://github.com/PhillypHenning">
                <img class='ic' src="{% static 'pictures/github-logo.png' %}" alt="github"> 
            </a>
            <a href="https://www.linkedin.com/in/phil-henning-832b38127/">
            <source  srcset="{% static 'pictures/linkedin.png' %}">
            <source  srcset="{% static 'pictures/linkedin.png' %}">
            <img class='ic' src="{% static 'pictures/linkedin.png' %}" alt="linkedin"> 
            </a>
            
            <br/><br/>
            
            <a href="https://wordpress.com/view/bluesockphil.wordpress.com">
            <source  srcset="{% static 'pictures/wordpress.png' %}">
            <source  srcset="{% static 'pictures/wordpress.png' %}">
            <img class='ic' src="{% static 'pictures/wordpress.png' %}" alt="wordpress"> 
            </a>
            <a href="mailto:phil8t8@gmail.com">
            <source  srcset="{% static 'pictures/mail.png' %}">
            <source  srcset="{% static 'pictures/mail.png' %}">
            <img class='ic' src="{% static 'pictures/mail.png' %}" alt="email"> 
            </a>
        </div>
    </div>

</body>
{% include '_partial_footer.html' %}
