/* Grid design */
.grid-container {
    display: grid;
    position: fixed;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;

    /*Background*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(../pictures/dustin-lee-19666.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*IE*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../pictures/reed-pearson-369363.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../pictures/reed-pearson-369363.jpg', sizingMethod='scale')";
}

.grid-container-index{
    /*Column / row */
    grid : auto / 1fr 4fr 1fr;
}

.grid-container-about{
    grid : 1fr 4fr 1fr / 1fr 2fr 4fr 1fr;
}

.grid-item {
    box-sizing: border-box;
    padding: 1em;
}

.grid-nameplate{ 
    grid-row : 1 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}

.grid-title{
    grid-row: 2/ span 1; 
    grid-column : 2/span 1;
}

.grid-connect{
    grid-row: 3 / span 1;
    grid-column: 1/ span 1;
    text-align: center; 
}

.grid-madewith{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    text-align: center;
}

.grid-portrait{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.grid-about{
    grid-row: 2 / span 1;
    grid-column: 3 /span 1;
}


/* Icons and Images */
.ic {
    width:100%;
}

.ic-lrg{
    width: 20%;
    max-width: 20%;
    margin-bottom: -2%;
    margin-top: -2%;
}

.a-img{
    width: 20%;
    max-width: 20%;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    display: inline-block;
}

.pic-portrait{
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(../pictures/test-pic.png) no-repeat center center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


/* fonts */
@font-face {
    font-family : AUdimat;
    src : url(../fonts/AUdimat-BoldItalic.otf);
    src : local(../fonts/AUdimat-BoldItalic.otf);
}

#AUd {
    font-family : AUdimat;
}

.titleplate-font{
    font-size: 1em;
    font-size: 5.5vw;
    text-shadow: 8% 8% 8% rgba(0,0,0,0.5) ;
    color : #42a1f4;
}

.title-font {
    font-size: 200%px;
    font-size: 10vw;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    color : #FF8837;
    text-align: center;
    margin: 0;
    margin-bottom : -2%;
}

.connect-font{
    font-size: 5px;
    font-size: 1.8vw;
    text-align: center;
    color : rgba(250, 250, 250, 0.85);    
}

.madewith-font{
    margin-top:.5%;
    font-size: 5px;
    font-size: 1.8vw;
    text-align: center;
    color : rgba(250, 250, 250, 0.85);  
      
}


/* buttons */
.button-c {
    display:flex;
    align-items:center;
    justify-content: center;
    vertical-align: middle;
    
    background-color:rgba(248, 244, 244, 0.2);
    filter: alpha(opacity(0)); /* ~IE8 */
    
    -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #E1E7E5;
    
    cursor: pointer;
    
    color: #FFC637;
    
    font-size: 5px;
	font-size: 1.7vw; /* Change to vw */
    
    text-decoration:none;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    text-align: center;
    
    width: 5em;
    height: 2.5em;
    
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.button-c:hover {
    color: #95CAFA;
}

.button-about{
    margin-left: 27%;
    float: left;
}

.button-resume{
    float: left;
    margin-left:15%;
}

.button-back{
    margin:0;
    float:left;
    height: 2em;
}


/* text */
.textarea-about{
    background-color: rgba(248, 244, 244, 0.7);
    background-repeat: no-repeat;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 25px;        
}

.text-about{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 3px;
    font-size: 1.2vw;
}


/* footer */
.footer {
    font-size: 1px;
    font-size: .5vw;
    color: rgb(168, 167, 167);
}

/* Screen based tuning */
/* Desktop window resizing */
@media screen and (max-height: 30em) and (max-width: 44em){
    
    /* index */
    .grid-item{
        border: 1px solid white;
    }
    
    .a-img{     
        margin-left: 5px;
        margin-right: 5px;      
    }
}