/* Grid design */
.grid-container {
    display: grid;
    position: fixed;
    width: 100%;
    height:100%;
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;

    /*Background*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(../pictures/dustin-lee-19666.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*IE*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../pictures/reed-pearson-369363.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../pictures/reed-pearson-369363.jpg', sizingMethod='scale')";
}

.grid-container-index{
    /*Column / row */
    grid : auto / 1fr 4fr 1fr;
}

.grid-container-about{
    grid : 1fr 4fr 1fr / 1fr 2fr 4fr 1fr;
}

.grid-item {
    box-sizing: border-box;
    padding: 1em;
}

.grid-nameplate{ 
    grid-row : 1 / span 1;
    grid-column: 2 / span 1;
    text-align: center;
}

.grid-title{
    grid-row: 2/ span 1; 
    grid-column : 2/span 1;
}

.grid-connect{
    grid-row: 3 / span 1;
    grid-column: 1/ span 1;
    text-align: center; 
}

.grid-madewith{
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    text-align: center;
}

.grid-portrait{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.grid-about{
    grid-row: 2 / span 1;
    grid-column: 3 /span 1;
}


/* Icons and Images */
.ic {
    width:100%;
}

.ic-lrg{
    width: 20%;
    max-width: 20%;
    margin-bottom: -2%;
    margin-top: -2%;
}

.a-img{
    width: 20%;
    max-width: 20%;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.pic-portrait{
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url(../pictures/test-pic.png ) no-repeat center center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


/* fonts */
@font-face {
    font-family : AUdimat;
    src : url(../fonts/AUdimat-BoldItalic.otf);
    src : local(../fonts/AUdimat-BoldItalic.otf);
}

#AUd {
    font-family : AUdimat;
}

.titleplate-font{
    font-size: 1em;
    font-size: 5.5vw;
    text-shadow: 8% 8% 8% rgba(0,0,0,0.5) ;
    color : #42a1f4;
}

.title-font {
    font-size: 200%px;
    font-size: 10vw;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    color : #FF8837;
    text-align: center;
    margin: 0;
    margin-bottom : -2%;
}

.connect-font{
    font-size: 5px;
    font-size: 1.8vw;
    text-align: center;
    color : rgba(250, 250, 250, 0.85);    
}

.madewith-font{
    margin-top:5%;
    font-size: 5px;
    font-size: 1.8vw;
    text-align: center;
    color : rgba(250, 250, 250, 0.85);    
}


/* buttons */
.button-c {
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:rgba(248, 244, 244, 0.2);
    filter: alpha(opacity(0)); /* ~IE8 */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #E1E7E5;
	cursor: pointer;
    color: #FFC637;
    font-size: 5px;
	font-size: 1.7vw; /* Change to vw */
	padding:11px 23px;
	text-decoration:none;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) ;
    text-align: center;
    width: 15%;
    height: 40px;
}

.button-c:hover {
    color: #95CAFA;
}

.button-about{
    margin-left: 27%;
    display: block;
    float: left;
}

.button-resume{
    display: block;
    float: left;
    margin-left:15%;
}

.button-back{
    display:block;
    margin:0;
    float:left;
}


/* text */
.textarea-about{
    background-color: rgba(248, 244, 244, 0.7);
    background-repeat: no-repeat;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 25px;        
}

.text-about{
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 3px;
    font-size: 1.2vw;
}


/* footer */
.footer {
    font-size: 1px;
    font-size: .5vw;
    color: rgb(168, 167, 167);
}


/* Horizontal screen resizing control */
@media screen and (max-width:640px){
    .button-c{
        width: 55px;
        height: 30px;
    }
    .a-img{
        margin-top:10px;
    }
}

@media screen and (min-width:640px){
    .button-c{
        width: 70px;
        height: 35px;
    }
}

@media screen and (min-width: 800px){
    .button-c{
        width: 75px;
        height: 35px;
    }
}

@media screen and (min-width:1024px){
    .button-c{
        width: 100px;
        height: 40px;
    }
}

@media screen and (min-width:1152px){

}

@media screen and (min-width:1280px){

}

@media screen and (min-width:1600px){

}


/* Vertical screen resizing control */
@media screen and (max-height:320px){
    .grid-container-index{
        /*Column / row */
        grid :  30% 70%;
    } 

    .grid-madewith{
        grid-row: 2 / span 1;
        margin-top: 20;
    }

    .grid-connect{
        grid-row: 2 / span 1;
        margin-top: 20;
    }

    .grid-title{
        margin-top: -2%;
    }

    .title-font{
        font-size: 100%;
        font-size: 7.5vw;
    }

    .button-c{
        font-size: 1.5vw;
        padding: 5 0;
    }

    .footer {
        font-size: 1px;
        font-size: .5vw;
    }
}

@media screen and (min-height:320px){  
    .grid-container-index{
        /*Column / row */
        grid : 15% 60% 30%;
    } 

    .grid-madewith{
        grid-row: 3 / span 1;
        margin-top: -50;
    }

    .grid-connect{
        grid-row: 3 / span 1;
        margin-top: -50;
    }

    .grid-title{
        margin-top: 55;
        grid-row: 2 / span 2;
        margin-top: -2%;
    }

    .title-font{
        font-size: 100%;
        font-size: 7.5vw;
    }

    .button-c{
        font-size: 1.5vw;
        padding: 5 0;
    }

    .footer {
        font-size: 1px;
        font-size: .5vw;
    }
}

@media screen and (min-height: 481px){
 
}

@media screen and (min-height: 641px){
 
}

@media screen and (min-height: 961px){
 
}


@media screen and (min-height: 1079px){
    
}

@media screen and (min-height: 1281px){
 
}